.video__data {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .video__createdDate {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .video__owner {
    margin-bottom: 15px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: none;
      font-weight: 600;
      margin-left: 5px;
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: black;
    margin-bottom: 10px;
    .comment__change {
      input {
        background-color: wheat;
        color: black;
      }
      .comment__edit,
      .comment__delete {
        margin-right: 20px;
        cursor: pointer;
      }
    }
    i {
      margin-right: 20px;
    }
  }
}

.video__add-comments {
  .video__comment-form {
    textarea {
      padding: 0 100px;
      display: flex;
      margin-bottom: 30px;
      border-radius: 10px;
    }
  }
  button {
    background-color: #3ea6ff;
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    padding: 10px 30px;
  }
}
