.empty__message {
  margin-left: 30px;
  font-size: 20px;
}
.video-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-left: 30px;
}
.auth-switch {
  text-align: center;
  margin-top: 40px;
  span {
    margin-right: 5px;
    color: black;
  }
  a {
    color: rgb(81, 81, 162);
    font-weight: 600;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
