.empty__message {
  margin-left: 30px;
  font-size: 20px;
}
.video-grid {
  display: grid;
  z-index: 1;
  gap: 50px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  .home-ground {
    grid-template-rows: 1fr;
    gap: 50px;
    width: 120%;
    height: 100%;
    margin: 0 auto;
  }
}
.auth-switch {
  text-align: center;
  margin-top: 40px;
  span {
    margin-right: 5px;
    color: black;
  }
  a {
    color: blue;
    font-weight: 600;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
