// video mixin
.video-mixin {
  .video-mixin__thumb {
    height: 140px;
    width: 100%;
    background-color: ivory;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .video-mixin__data {
    font-weight: 600;
    padding: 0px 15px;
    display: flex;
    justify-content: flex-end;
    .video-mixin__title {
      margin-right: 20px;
      font-size: 12px;
    }
    .video-mixin__meta {
      font-size: 12px;
    }
  }
}
