extends base
include mixins/video

block content
    div.video-grid
        img(src="images/iu.jpg")
        img(src="images/jisoo.png")
        each video in videos
            +video(video)
        else
            span.empty__message No videos